{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block css %}
 <link rel="stylesheet" href="{% static 'styles/jquery.countdown.css' %}">
{% endblock %}
{% block content %}
<div class="team" style="margin-top: 140px;">
    <div class="team_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/team_background.jpg'%}" data-speed="0.8"></div>
    <div class="container">
        <div id="page-wrap">
        <ol>
        <h1>{{test.name}}</h1>
        <p id="defaultCountdown"></p><br>
        <form action="" method="POST" id="quiz">
        {% csrf_token %}
        {% for question in test.question_set.all %}
            <li>
            <h3><strong>{{question}}</strong></h3>
            {% for choice in question.choice_set.all %}
                <label class="radio" for=""><input type="radio" value="{{ choice.id }}" name="question-{{ question.id }}" >{{choice}}</label>
                <br>
            {% endfor %}
            </li>
        {% endfor %}
        <input type="submit" value="{% trans 'Submit'%}">
        </form>
        </ol>
        </div>
    </div>
</div>
{%block plugin%}
<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'styles/bootstrap4/popper.js'%}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script>
$(function () {
    $('#defaultCountdown').countdown({until: '+{{test.time}}s', format: 'YOWDHMS', significant: 2,onExpiry: time_over});
    
});
function time_over() { 
    alert("{% trans 'Time off!' %}"); 
    document.getElementById("quiz").submit();
} 

</script>
{%endblock%}
{% endblock %}
