<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Gogoedu</title>{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}

</head>
<body>
    <div class="super_container">
        {% include "header.html" %}
        
        {% block content %}{% endblock %}

        {% include "footer.html" %}
        
    </div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
{% block plugin %}{% endblock%}
</body>
</html>
